.chat-container{
    background: rgba(63, 156, 255, 0.753);
    color: #fff;
    padding: 30px;
    h3{
        color: #3F9DFF;
        padding: 3px;
    }
    .chatList{
        background: #fff;
        border: 1px solid #3f3f3f;
        padding: 10px;
    }
    .chatView{
        background-color: #fff;
        height: 580px;
    }
    
}