.post-add-cotainer{
    padding-top: 40px;
    
    h2{
        
     
        padding-top: 30px;
        background-color:#66B1FF;
        padding-bottom: 20px;
        color:#fff;

    }
    
}
.postadd-category{
img{
    height: 80px;
    margin: 0;
    padding: 0;
}
a{
    margin: 0;
    padding: 0;
    font-size: 30px;
    color:#737373;

}
}