.post-add-cotainer{
    padding-top: 40px;
    
    h2{
        
     
        padding-top: 30px;
        background-color:#66B1FF;
        padding-bottom: 20px;
        color:#fff;

    }
    
}
.postadd-category{
img{
    height: 80px;
    margin: 0;
    padding: 0;
}
a{
    margin: 0;
    padding: 0;
    font-size: 30px;
    color:#737373;

}
}
.postLogo{
    background:#66B1FF;
    text-align: center;
    img{
        width: 60px;height: 60px;
        
    }
}
ul{
    p{
      color: #66B1FF;
      img{
          width: 30px;height: 30px;
          margin-right: 5px;
      }
    }
    li a{
        img{
            width: 30px;height: 30px;
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }
}
.postForm{
    form{
        margin-top: 40px;
        input{
            width: 100%;height: 40px;
            margin-bottom: 10px;
            border: none;
            border-bottom: 1px solid #707070;
            outline: none;
           padding: 10px;

        }
        input[type="submit"]{
            background:#66B1FF;
            border: none;
            border-radius: 10px;
            width: 80%;
            color: #fff;
        }
       textarea{
           width: 100%;
           height: 300px;
           border-radius: 20px;
           outline: none;
           padding: 10px;
       }
    }
 
    
    .radioBox{
        input{
            width:100px;
        }
        input[type="radio"]{
           height: 20px;
        
        }
    }
    
    select{
        margin-bottom: 30px;
        width: 100%;
        height: 40px;
        border-radius: 10px;
        border:  2px solid rgba(112, 112, 112, 0.514);
        outline: none;

    }
    .postLogo{
        text-align: left;
        color: #fff;
    }
}

