.footer-section{
    padding-top: 50px;
    padding-bottom: 50px;
    .MuiSvgIcon-root{
    color:#3F9DFF ;
    font-size: 30px;
    }
    a{
        color: #707070;
        
    }
    li{
      margin-bottom: 10px;
    }
    ul,li{
        list-style-type: none;
        color:#707070;
    }
}