a{
    text-decoration: none;
}

.chat-container{
   
  .chat-list{
      background:#fff;
     overflow-x: hidden;
  }
    padding: 30px;
    
    h3{
        color: #3F9DFF;
        padding: 3px;
    }
    .chatList{
        background: #fff;
        border: 1px solid #3f3f3f;
        padding: 10px;
        overflow-x: hidden;
    }
    .chatView{
        background-color: #fff;
        height: auto;
    }
   
}
.chat-list-user{
    a{
        text-decoration: none;
    }
    h3{
        color: #000;
    }
    .ColorMsgSeen{
        color:#707070;
    }
    .ColorMsgUnseen{
      color: #3F9DFF;
       position: relative;
        &::after{
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            border-bottom: 10px solid red;
            right: 0;
            top: 0;
            border-radius: 50%;
        }
    }
}
.chatView{
   border: 1px solid rgba(112, 112, 112, 0.02);;
   background: rgba(112, 112, 112, 0.02);
   height: 60%;
   position: fixed;
   border-radius: 10px;
   width: 70%;
   margin-left: 50px;
   overflow-y:scroll;
   overflow-x: hidden;
   border-bottom-left-radius: 0 ;
   border-bottom-right-radius: 0 ;
   z-index: 1;
   margin-top: 47px;
  h2{
    vertical-align: bottom;
  }
   form {
       position: fixed;
       top: 76%;
       width: 70%;
      
       padding: 5px 5px;
       input[type=text]{
        width: 100%;
        outline: none;
        padding: 15px 10px ;
        border-radius: 10px;
        position: relative;

        border: none;
        
       }
       ::placeholder{
        color:#3F9DFF;
    }
       .MuiSvgIcon-root{
        position: absolute;
        right: 2px;
        top: 50%;
        transform: translate(-50%,-50%);
        color: #3F9DFF;
        font-size: 40px;
    }
   }
  

}
.chatproductComponent{
    position: fixed;
    top: 20px;
    width: 82%;
    left: 202px;
}
.ChatProduct{
    background:rgba(255, 255, 255, 0.87);
    border-radius: 10px;
    width: 100%;margin-left: 30px;
    box-shadow: 0px 5px 5px rgb(184, 182, 182);

    margin-left: 20px;
    padding: 5px 3px 20px 3px;
    a{
        background:#3F9DFF;
       padding: 5px 30px;
       border-radius: 10px;
       color: #fff;
       
    }
    img{
        width: 50px;
        height: 50px; 
        border-radius: 50%;
        margin-top: 5px;
    }
}
.textTwo{
    div{
       
        div{
         background: #3F9DFF !important;
         float: right !important;
         margin-right: 10px !important;  
         margin-bottom: 10px !important;
        
                p{
            color: #fff !important;
        }
    }
 }
}
    
.textOne{
    margin-left: 10px;
   div{
       div{
        background: #fff !important;
        margin-bottom: 10px !important;
       p{
           color: #3F9DFF !important;
       }
   }
}
}



@media (max-width:468px){
    .viewContainer{
        padding: 0;
        margin-top: 0 !important;
        background: rgba(112, 112, 112, 0.09);
        height: 1000px !important;
        overflow-x: hidden;
      
    }
    .chatView{
        width:90%;
        margin-left: 0px;
        border: none !important;
        overflow-x: hidden;
        margin-top: 73px;
        height: 46% !important;
        overflow-x: hidden;
       
        form{
            width: 92.9%;
            right: 4.4%;
           top: 78%;
           margin-top: 20px;
        }
    }
    .chatproductComponent{

        width: 100%;
        left:-20px !important;
        top: 0;
       
    }
    .ChatProduct{
        width: 360px !important;
    }
    .textTwo{
  
        div{
            div{
                margin-bottom: 10px !important;
                
        }
     }
    }
    .textOne{
  
        div{
            div{
                margin-bottom: 10px !important;
                
        }
     }
    }
}
