.home-border{
    border:2px solid gray;
    
}
.home-section{
    position: relative;
    .positionset{
        position: absolute;
        top:8%;
    }
}
@media (max-width: 468px){
    .headress{display: none;}
    .home-section  .positionset{
        top: 0;
        text-align: center;
    }
}