



@media(max-width: 468px){
    .forgatePassword-from{
        margin-top: 50%;
        margin-left: 50%;
        transform: translate(-50%,-50%);
        input{
            width: 100%;
            margin-bottom: 20px;
            padding: 10px;
        }
    }
}