.product-summary-container{
    margin-top: 20px;
    padding-top: 20px;
.product-summary{
    border:1px solid #707070;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(112, 112, 112, 0.582);
    margin-bottom: 20px;
    h3,h5{
        color:#707070;
        font-size: 16px;
    }
    h4{
        font-size: 16px;
    }
    h2{
        font-size: 20px;
    }
}
.call,.chat{
    background: #3F9DFF;
    padding: 10px 40px 10px 40px;
    border: none;
    border-radius: 10px;
    color: #fff;
    outline: none;
    
}
:focus{
    outline:none;
}
.call{
    margin-left: 20px;
}
.chat{
    margin-left: 380px;
}
}
.productDetails{

    img{
        margin-left: 50%;
        margin-top: 30%;
        transform: translate(-50%,-50%);
        width: 480px !important;
        height:220px !important;
    }
    .carousel-control-next {
        right: 150px;
      
    }
    .carousel-control-prev{
        left: 150px;
    }
   
}

@media (max-width: 468px){
    .chat{
        margin-left: 15px !important;
        margin-right: -15px;
    }
    .call{
        margin-left: -30px !important;
    }
}
