.nav-Bar{
   position: relative;
    img{
        width:60px;
        height:60px;
    }
    // .nav-search{
    //     display: none;
    // }
    .nav-search{
        position: relative;
        .MuiSvgIcon-root{
            position: absolute;
            top:50%;
            right: 0;
            transform: translate(-50%,-50%);
          
        }
    }
    .search-btn{
       margin-bottom: -30px;
       padding: 10px;
        :focus{
            outline: none;
        }
        ::placeholder{
            color:#3F9DFF;
        }
        a{
            margin-right: 10px;
            border:none;
            border:2px solid #3F9DFF;
            background: #3F9DFF;
            color: #fff;
            border-radius: 10px;
            margin-bottom: 10px;
            padding: 10px 15px 10px 15px;
            
            
        }
    
    }
}

@media (max-width: 767px){
    .form-control{
        margin-top: 20px;
    }

     .nav-Bar .search-btn{
         margin-top:  30px;
     }
    .nav-Bar .search-btn .MuiSvgIcon-root{
            position: absolute;
            bottom:0;
            left: 160px;
            top: 98px;
        }
        .navbar-nav{
        
        }
        .nav-Bar .nav-search{
            position: relative;
            .MuiSvgIcon-root{
                position: absolute;
                  top: 40px;
                  right: 20px;
        
               
              
            }
        }
    
}